.vscode/
__pycache__/
modeling_sandbox.ipynb
solutions/
gurobi_benchmarks_1h_verbose.json
markdowns/
pseudo_codes/
10_projects_100_students/
20_projects_200_students/
30_projects_300_students/
40_projects_400_students/
50_projects_500_students/